<!-- main.hbs-->
<!-- Source from CS340 Starter Program: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data -->
<!-- Updated to our specific naming of objects and values. The rest of the file is from the link above. -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/{{style}}">
    <title>The Back Nine DB</title>
</head>
<body>
    
    {{{body}}}
    
</body>
</html>