<!-- index.hbs -->
<!-- Source from CS340 Starter Program: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data -->
<!-- Updated to our specific naming of objects and values. The rest of the file is from the link above. -->
<header>
<h1>The Back Nine DB HomePage</h1>
<p>Welcome to The Back Nine Golf Course Data Base Web Interface! </p>
</header>
<main>
    <section>
<nav>
    <a href="/" class="button-link">Home</body></a>
    <a href="/golfers" class="button-link">Golfers</body></a>
    <a href="/employees" class="button-link">Employees</body></a>
    <a href="/sales" class="button-link">Sales</body></a>
    <a href="/tee_times" class="button-link">Tee Times</body></a>
    <a href="/golfers_has_tee_times" class="button-link">Golfers with Tee Times</body></a>
</nav>
    </section>
<link href="app.css" rel="stylesheet" type="text/css" />
<body>
    
</body>
</main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
